xml/schema.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT eudr (operator, order_item, referenced_eudr_statements, document_meta)>

<!ELEMENT operator (company_name, address, contact_person, eudr_details)>
<!ELEMENT company_name (#PCDATA)>
<!ELEMENT address (street, postal_code, city, country)>
<!ELEMENT street (#PCDATA)>
<!ELEMENT postal_code (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT country (#PCDATA)>
<!ELEMENT contact_person (name, email, phone)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT eudr_details (eudr_role, taric_document_code, hs_code?)>
<!ELEMENT eudr_role (#PCDATA)>
<!ELEMENT taric_document_code (#PCDATA)>
<!ELEMENT hs_code (#PCDATA)>

<!ELEMENT order_item (order_reference, item_reference, production_reference?)>
<!ELEMENT order_reference (#PCDATA)>
<!ELEMENT item_reference (#PCDATA)>
<!ELEMENT production_reference (#PCDATA)>

<!ELEMENT referenced_eudr_statements (statement*)>
<!ELEMENT statement (reference_number, verification_number, serial_shipping_container_reference?)>
<!ELEMENT reference_number (#PCDATA)>
<!ELEMENT verification_number (#PCDATA)>
<!ELEMENT serial_shipping_container_reference (#PCDATA)>

<!ELEMENT document_meta (identifier?, submission_date, version)>
<!ELEMENT identifier (#PCDATA)>
<!ELEMENT submission_date (#PCDATA)>
<!ELEMENT version (#PCDATA)>
